header .container{
    margin: 0 auto;
}
header h2{
    width: 100px;
    display: block;
    margin: 0 auto;
    height: 70px;
    position: relative;
}
header h2 img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
header nav{
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
}
header nav li{
    width: 33%;
    height:50px;
    text-align: center;
    font-size: 19px;
    line-height: 2.5;
    transition: all 0.2s;
    position: relative;
}
header nav li a{
    width:100%;
    display: block;
    position: absolute;
}
header nav li a:hover{
    color:rgb(88, 88, 88);
}
header nav li a:hover:after{
    content: "";

}